@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.MovimientoEntradaConClubVM

@section Titulo{
	<span class="titulo-detacado">@Model.Club</span>: Crear movimiento de insumo
}

@using (Html.YKN().Form("CreateMovimientoInsumo", "MovimientoEntradaConClub"))
{
	@Html.YKNNonTyped().ValidationSummary()

	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().DatePickerFor(x => x.Fecha).DefaultEsHoy()
		</div>
		<div class="col-sm-6">
			@(Html.YKN().Autocomplete_Old_Cambiar_PorNuevoAutocompleteFor(x => x.ConceptoId)
						  .Label("Concepto")
						  .Url("ConceptoInsumo", "Autocomplete")
						  .OnSelected("onConceptoChange()")
			)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			@(Html.YKN().EditorFor(x => x.Cantidad)
						  .OnChange("OnCantidadChange()"))
		</div>
		<div class="col-sm-4">
			@(Html.YKN().EditorFor(x => x.PrecioUnitario)
						  .Disabled())
		</div>
		<div class="col-sm-4">
			@(Html.YKN().EditorFor(x => x.Total)
						  .Disabled())
		</div>
	</div>
	<div>
		<div class="col-sm-8">
			@Html.YKN().TextAreaFor(x => x.Comentario)
		</div>
	</div>

	@Html.HiddenFor(x => x.ClubId)
	@Html.HiddenFor(x => x.Tipo)

	{ Html.YKN().FooterGuardarCancelar(); }
}

<script>
	$(window).load(function () {
		onConceptoChange();
	});

	function onConceptoChange() {
		var conceptoId = $('#ConceptoId').val();

		$.ajax({
			url: "/ConceptoInsumo/PrecioUnitario",
			type: "GET",
			data: { conceptoId: conceptoId }
		})
			.done(function (precio) {
				$('#PrecioUnitario').val(precio);
				CalcularTotal();
			});
	}

	function OnCantidadChange() {
		CalcularTotal();
	}

	function CalcularTotal() {
		var cantidad = $('#Cantidad').val();
		var precioUnitario = $('#PrecioUnitario').val();
		var total = cantidad * precioUnitario;
		$('#Total').val(total);
	}
</script>
