@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.TorneoTipoVM

@section Titulo{
	Editar tipo de torneo
}

@using (Html.YKN().Form())
{
	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().DisplayFor(x => x.Descripcion)
		</div>
		<div class="col-sm-6">
			@Html.YKN().DisplayFor(x => x.ValidezDelCarnetEnAnios)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().DisplayFor(x => x.LoQueSeImprimeEnElCarnet)
		</div>
		<div class="col-sm-6">
			@(Html.YKN().DisplayFor(x => x.FormatoDesc))
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().EditorFor(x => x.ValorDelFichajeEnPesos)
		</div>
	</div>

	{ Html.YKN().FooterGuardarCancelar(); }
}
