@using LigaSoft.ExtensionMethods
@model LigaSoft.Models.ViewModels.JugadorFichadoPorDelegadoVM

@section Titulo {
	Fichar Jugador
}
@section Subtitulo {
	Equipo: @Model.Equipo
}

<script src="../../Scripts/pixelarity-face.js"></script>
<link rel="stylesheet" href="../../Content/pixelarity.css">

@using (Html.YKN().Form())
{
	@Html.YKNNonTyped().ValidationSummary()
	@Html.HiddenFor(x => x.EquipoId)

	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().EditorFor(x => x.DNI).TabIndex(1)
			@Html.YKN().EditorFor(x => x.Nombre).TabIndex(2)
			@Html.YKN().EditorFor(x => x.Apellido).TabIndex(3)
			@Html.Label("Fecha nacimiento")			
			@Html.YKN().DatePickerFor(x => x.FechaNacimiento).Label("(Formato: dd-mm-aaaa. Ej: 30-10-2008)")
		</div>	
		<div class="col-sm-6">
			<input type="hidden" id="imagen" name="imagen" value="John"><br>
			<img id="result" src="@Model.FotoCarnetRelativePath">
			<div class='form-group'>
				<label class='btn btn-primary' for='FotoCarnetInput' id="labelFotoCarnet">
					Seleccionar foto carnet
				</label>
				<input id='FotoCarnetInput' name='FotoCarnetInput' accept=".jpeg,.jpg" style='display:none' class="form-control" type='file'>
				<input type="hidden" id="FotoCarnet" name="FotoCarnet" value=""><br>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class='col-sm-6'>
			@(Html.YKN().UploadFile(x => x.FotoDNIFrente)
				  .Class("btn-primary width100porciento")
				  .AcceptedExtension(".jpg,.jpeg")				  
				  .Label("Seleccionar foto de DNI (Frente)"))
		</div>
	</div>

	<div class='row form-footer'>
		<div class='col-sm-offset-6 col-sm-3'>
			@(Html.YKN().BotonCancelar()
						.OnClickRedirect("PendientesDeAprobacion", "JugadorFichadoPorDelegado", new Dictionary<string, string> { { "Id", Model.EquipoId.ToString() }, { "Descripcion", Model.Equipo } }))
		</div>
		<div class='col-sm-3'>
			@Html.YKN().BotonGuardar()
		</div>
	</div>
}

<style type="text/css">
	#result {
		display: block;
		position: relative;
		width: 240px;
		height: 240px;
		border: 0.3px solid #cccccc;
		border-radius: 4px;
		background-color: #eee;
	}

	#labelFotoCarnet {
		margin-top: 1em;		
		width: 240px;
	}

	.width100porciento {
		width: 100%;
	}
</style>

<script>
	$(document).ready(function () {
		$("#FotoCarnetInput").change(function (e) {
			var img = e.target.files[0];
			$('#pixelarity-side-opt-holder').hide();
			$('.pixelarity-img-edit-save').text('RECORTAR');
			$('.pixelarity-img-edit-cancel').text('CANCELAR');
			if (!pixelarity.open(img, true, function (res) {

				$("#result").attr("src", res);
				$("#FotoCarnet").attr("value", res);

			}, "jpg", 0.7, true)) {
				alert("La foto debe estar en formato jpg");
			}

		});
	});

</script>