@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.MovimientoSalidaVM

@section Titulo{
	Nuevo egreso
}

@using (Html.YKN().Form())
{
	@Html.YKNNonTyped().ValidationSummary()

	<div class="row">
		<div class="col-sm-4">
			@Html.YKN().DatePickerFor(x => x.Fecha).DefaultEsHoy()
		</div>
		<div class="col-sm-4">
			@Html.YKN().EditorFor(x => x.Total)
		</div>
		<div class="col-sm-4">
        	@(Html.YKN().ComboFor(x => x.FormaDePago).Values<FormaDePago>())
        </div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			@Html.YKN().TextAreaFor(x => x.Comentario)
		</div>
	</div>

	{ Html.YKN().FooterGuardarCancelar(); }
}
