@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	<li>
		<a tabindex ="-1">¡Hola @User.Identity.GetUserName()!</a>
	</li>
	<li>
		@Html.ActionLink("Cambiar contraseña", "CambiarPassword", "Account", null, new { tabindex = "-1" })
	</li>	    
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		<li><a tabindex ="-1" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
	}
}
else
{
	<li>@Html.ActionLink("¿Sos delegado? Registrate", "Registrar", "UsuarioDelegado", null, new { tabindex = "-1" })</li>
	<li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", tabindex = "-1" })</li>    
}
