@using LigaSoft.ExtensionMethods
@model LigaSoft.Models.ViewModels.PublicidadVM

@section Titulo{
	Editar publicidad
}

@Html.YKNNonTyped().ValidationSummary()

@using (Html.YKN().Form())
{
	@Html.HiddenFor(x => x.Id)

	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().DisplayFor(x => x.Titulo)
			@Html.HiddenFor(x => x.Titulo)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			@Html.YKN().BrowseFileFor(x => x.ImagenNueva)
		</div>
	</div>	

	{ Html.YKN().FooterGuardarCancelar(); }
}
