@using LigaSoft.ExtensionMethods
@model LigaSoft.Models.ViewModels.SancionVM

@section Titulo{
	Nueva sanción
}

@using (Html.YKN().Form())
{
	@Html.YKNNonTyped().ValidationSummary()
	@Html.HiddenFor(x => x.ZonaId)

	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().DatePickerFor(x => x.Dia)
		</div>
		<div class="col-sm-6">
			@Html.YKN().AutocompleteFor(x => x.FechaId).Values(Model.FechasDeLaZona).OnChange("updateJornadas")
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			@Html.YKN().AutocompleteFor(x => x.JornadaId)
		</div>
		<div class="col-sm-6">
			@Html.YKN().EditorFor(x => x.CantidadFechasQueAdeuda)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			@Html.YKN().AutocompleteFor(x => x.CategoriaId).Values(Model.CategoriasDelTorneo)
		</div>
		<div class="col-sm-8">
			@Html.YKN().TextAreaFor(x => x.Descripcion)
		</div>
	</div>

	{ Html.YKN().FooterGuardarCancelar(); }
}

<script>
	$(function () {
		updateJornadas();
	});

	function updateJornadas() {
		var fechaId = $('#FechaId').val();

		$.ajax({
			url: "/Sancion/JornadasDeLaFecha",
			type: "GET",
			data: { fechaId: fechaId }
		})
			.done(function (data) {
				$('#JornadaId').empty();

				data.forEach(function (jornada) {
					$('#JornadaId').append($("<option />").val(jornada.Value).text(jornada.Text));
				});
			});
	}
</script>
