@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model List<LigaSoft.Models.ViewModels.JugadorCarnetVM>

@section Titulo{
	Carnets
}

@section Subtitulo{
	<div class="row">
		<div class="col-xs-2">
			@(Html.YKN().Button("Volver")
				.Color(BootstrapColorEnum.Danger)
				.Label("Volver")
				.FullWidth()
				.OnClickRedirect("Index", "Equipo"))
		</div>
		<div class="col-xs-2">
			@(Html.YKN().Button("Imprimir")
				  .Color(BootstrapColorEnum.Success)
				  .FullWidth()
				  .OnClickImprimir())
		</div>
	</div>
}

<div class="contenedor-general">
	@foreach (var carnet in Model)
	{
	<div class="carnet-contenedor">
		<img class="imagen" src="@carnet.FotoPath" alt="foto" />
		<div class="datos">
			@if (carnet.EstaSuspendido)
			{
				<div class="suspendido">JUGADOR SUSPENDIDO</div>
				<div class="nombre">@carnet.Nombre @carnet.Apellido</div>
				<div>DNI: @carnet.DNI</div>
				<div>@carnet.FechaNacimiento</div>
				<div>@carnet.Equipo</div>
				<div>@carnet.TipoLiga</div>
			}
			else
			{
				<div class="nombre verde">@carnet.Nombre @carnet.Apellido</div>
				<div class="azul">DNI: @carnet.DNI</div>
				<div class="azul">@carnet.FechaNacimiento</div>
				<div class="rojo">@carnet.Equipo</div>
				<div class="rojo">@carnet.TipoLiga</div>
			}

		</div>
	</div>
	}
</div>

<style>
	/*Para que no salga la url del link en la impresión*/
	a[href]:after {
		content: initial;
	}

	.contenedor-general {
		display: grid;
		grid-template-columns: auto auto;
	}

	.carnet-contenedor {
		flex: 1 1 30%; /*grow | shrink | basis */
		width: 450px;
		height: 200px;
		border: 2px solid black;
		border-radius: 20px;
		padding: 15px;
		margin-bottom: 10px;
		margin-right: 10px;
		display: flex;
	}

	.imagen {
		width: 130px;
		height: 130px;
	}

	.datos {
		margin-left: 20px;
		font-size: 16px;
		font-weight: bold;
	}

	.verde {
		color: #01aa59;
	}

	.rojo {
		color: #e81f05;
	}

	.azul {
		color: #0038ba;
	}

	.datos div {
		margin-bottom: 5px;
	}

	.suspendido {
		background-color: #e81f05;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
		color: white;
	}
</style>