@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.JugadorAutofichadoVM
@section Titulo{
	Detalles del Jugador
}
@section Subtitulo {
	Equipo: @Model.Equipo
}

@Html.YKNNonTyped().ValidationSummary()
<div class="row">
	<div class="col-sm-3">
		@Html.YKN().DisplayFor(x => x.DNI)
		@Html.YKN().DisplayFor(x => x.Nombre)
		@Html.YKN().DisplayFor(x => x.Apellido)
		@Html.YKN().DisplayFor(x => x.FechaNacimiento)
	</div>
	<div class="col-sm-3">
		<div>
			<label>Foto carnet</label>	
		</div>		
		<img src="@Model.FotoCarnetRelativePath" alt="foto">
	</div>
	<div class="col-sm-6">
		<div>
			<label>Foto DNI Frente</label>	
		</div>
		<img id="fotoDNIFrente" src="@Model.FotoDNIFrenteRelativePath" alt="fotoDNIFrente">
	</div>
</div>

@* <div class="row row-forms"> *@
@* 	@using (Html.BeginForm("Rechazar", "AdministracionJugadoresFichadosPorDelegados", null, FormMethod.Post, new { @class = "form-horizontal form-rechazar col-sm-6", role = "form" })) *@
@* 	{ *@
@* 		@Html.HiddenFor(x => x.Id) *@
@* 		<div class="row"> *@
@* 			<div class="col-sm-12"> *@
@* 				@Html.YKN().TextAreaFor(x => x.MotivoDeRechazo) *@
@* 			</div> *@
@* 		</div> *@
@* 		<div class="row"> *@
@* 			<div class="col-sm-12"> *@
@* 				<div class="form-group"> *@
@* 					@(Html.YKN().Button("Rechazar") *@
@* 								  .Color(BootstrapColorEnum.Danger) *@
@* 								  .FullWidth() *@
@* 								  .Submit() *@
@* 					) *@
@* 				</div> *@
@* 			</div> *@
@* 		</div> *@
@* 	} *@
@* 	 *@
@* 	@using (Html.BeginForm("Aprobar", "AdministracionJugadoresFichadosPorDelegados", null, FormMethod.Post, new { @class = "form-horizontal form-aprobar col-sm-6", role = "form" })) *@
@* 	{ *@
@* 		@Html.HiddenFor(x => x.Id) *@
@* 		<div class="row"> *@
@* 			<div class="col-sm-12"> *@
@* 				<div class="form-group"> *@
@* 					@(Html.YKN().Button("Fichar") *@
@* 						  .Color(BootstrapColorEnum.Success) *@
@* 						  .FullWidth() *@
@* 						  .Submit() *@
@* 						  ) *@
@* 				</div> *@
@* 			</div> *@
@* 		</div> *@
@* 	} *@
@* </div> *@


@{
	Html.YKN().FooterVolver();
}

<script>
	$(document).ready(function () {		
		$('#Fichar').height($('.form-rechazar').height());
	});	
</script>

<style>
	.form-rechazar {
		border: 1px solid grey;
		padding: 1em;
	}

	#Fichar {
		margin-top: 0.3em;
		font-size:1.5em;
	}

	.row-forms {
		padding-top: 5em !important;
	}

	img {
		border: 1px solid grey;
	}
</style>
