@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.EliminacionDirectaConfiguracionVM

@section titulo{
	Llave de eliminación directa del torneo <span class="titulo-detacado">@Model.Torneo</span>
}

@Html.YKNNonTyped().ValidationSummary()

@using (Html.YKN().Form(FormSizeEnum.Big))
{
	@*@Html.YKNNonTyped().ValidationSummary()*@

	@Html.HiddenFor(x => x.TorneoId)

	<div class="row">
		<div class="col-sm-4">
			@(Html.YKN().EditorFor(x => x.LlaveEliminacionDirectaNombre)				
				.Label("Nombre de la llave (web pública)"))
		</div>
		<div class="col-sm-4">
			@(Html.YKN().ComboFor(x => x.TipoDeLlave)
				.Values<FaseDeEliminacionDirectaEnum>()
				.OnChange("onFaseChanged()")
				.Label("Fases"))
		</div>
	</div>

	<div class="row" style="margin-top: 30px;">
		<div class="col-sm-offset-2 col-sm-3">
			@(Html.YKN().Button("Volver")
			  .Color(BootstrapColorEnum.Danger)
			  .FullWidth()
			  .OnClickRedirect("Index", "Torneo"))
		</div>
		<div class="col-sm-3">
			@(Html.YKN().Button("Guardar")
			  .Color(BootstrapColorEnum.Success)
			  .FullWidth()
			  .Submit())
		</div>
	</div>
}