@using LigaSoft.ExtensionMethods
@using LigaSoft.Models.Enums
@model LigaSoft.Models.ViewModels.EliminacionDirectaVM
@section Titulo{
	Llave de eliminación directa
}

@section Subtitulo{
	@Model.Torneo - Tipo de llave: @Model.TipoDeLlave
}

@using (Html.YKN().Form(FormSizeEnum.VeryBig))
{
	@Html.YKNNonTyped().ValidationSummary()

	@Html.HiddenFor(x => x.TorneoId)

	<div class="row">
		<div class="col-sm-3">
			@Html.YKN().Button("Eliminar llave").Color(BootstrapColorEnum.Warning).OnClick("MostrarConfirmacionDeEliminacion()")
		</div>
		<div class="col-sm-7" style="display: none" id="eliminar-confirmacion">
			Escribir LLAVE para eliminar <input type="text" id="palabra-de-seguridad" />
			@Html.YKN().Button("Confirmar eliminación de la llave").Color(BootstrapColorEnum.Danger).OnClick("Eliminar()")
		</div>
	</div>


	// Hacer el cancelar bien para que vuelva a torneo, no a Configurar si venís de ahí 
}

<script>
	function MostrarConfirmacionDeEliminacion(obj) {
		$('div#eliminar-confirmacion').show();
	}

	function Eliminar(obj) {
		$.ajax({
			url: '/EliminacionDirecta/Eliminar',
			type: "POST",
			data: { torneoId: document.getElementById("TorneoId").value, palabraDeSeguridad: document.getElementById("palabra-de-seguridad").value },
			success: function () {
				window.location.reload(false);
			}
		});
	}
</script>